In [3]:
import pandas as pd
data_dis = {'y': [0,0,0,0,0,1,1,1,1,1],
           'x1': [5,4,4,3,3,9,8,6,4,4],
           'x2': [3,2,3,3,6,4,5,6,5,2]}
df_discrim = pd.DataFrame(data_dis)
df_discrim

   y  x1  x2
0  0   5   3
1  0   4   2
2  0   4   3
3  0   3   3
4  0   3   6
5  1   9   4
6  1   8   5
7  1   6   6
8  1   4   5
9  1   4   2

In [4]:
import numpy as np

In [7]:
Y = np.array([0,0,0,0,0,1,1,1,1,1])
X = np.array([[5,4], [4,2], [4,3], [3,3], [3,6], [9,4], [8,5], [6,6], [4,5], [4,2]])

In [9]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis(n_components=1)
lda.fit(X, Y)

LinearDiscriminantAnalysis(n_components=1)

In [10]:
scores = lda.transform(X)
scores

array([[ 0.        ],
       [-0.895111  ],
       [-0.72020425],
       [-1.26550175],
       [-0.74078151],
       [ 2.18119001],
       [ 1.81079926],
       [ 0.895111  ],
       [-0.37039076],
       [-0.895111  ]])

In [11]:
print(lda.scalings_)

[[0.5452975 ]
 [0.17490675]]

In [12]:
y = -3.283 + 0.5452975(x1) + 0.17490675(x2)

<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<ipython-input-12-6e88daab8165>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  y = -3.283 + 0.5452975(x1) + 0.17490675(x2)
<ipython-input-12-6e88daab8165>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  y = -3.283 + 0.5452975(x1) + 0.17490675(x2)

NameError: name 'x1' is not defined